# =========================
# BUILD (JAVA / MAVEN)
# =========================
target/
build/

# =========================
# MAVEN WRAPPER
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE (INTELLIJ, VSCODE)
# =========================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# =========================
# STS / ECLIPSE
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# NETBEANS
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# FRONTEND (REACT / VITE)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# ENV (BẢO MẬT)
# =========================
.env
.env.*
*.env

# =========================
# LOG FILES
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db


backend/SPEAKING_ASSESSMENT_BACKEND_GUIDE.md
backend/REGISTER_COMPONENTS_DOCUMENT.md
backend/DATABASE_DOCUMENTATION.md
backend/BACKEND_FULL_DOCUMENTATION.md
